@model IEnumerable<com.ai.ext.upwork.test1.Models.ClicksTracker2>

<br />
<p>
    @Html.ActionLink("Create New", "AddClick")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CampaignName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clicks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conversions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Impressions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AffiliateName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clicks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conversions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Impressions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AffiliateName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditClick", new { id=item.Id }) |
            @Html.ActionLink("Details", "ClickDetails", new { id=item.Id }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
